DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Asia/Kathmandu

DB_ENGINE=oracle11_backend
DB_NAME=xe
DB_USER=manochitta_sathi
DB_PASSWORD=ms
DB_HOST=localhost
DB_PORT=1521
DB_TEST_USER=test_manochitta_sathi
DB_TEST_PASSWORD=manochitta_test
DB_TEST_TBLSPACE=test_manochitta_sathi
DB_TEST_TBLSPACE_TMP=test_manochitta_sathi_temp
ORACLE_CLIENT_LIB_DIR=C:\oraclexe\app\oracle\product\11.2.0\server\bin
ORACLE_NET_CONFIG_DIR=C:\Users\sahil\Downloads\manochitta-sathi\backend\oracle_network

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=7

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@manochittasathi.com
FRONTEND_BASE_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-oauth-client-secret
GOOGLE_REFRESH_TOKEN=your-google-oauth-refresh-token
GOOGLE_CALENDAR_ID=primary
GOOGLE_MEET_ORGANIZER_EMAIL=your-google-workspace-or-calendar-owner@example.com
OPENROUTER_API_KEY=your-openrouter-api-key
OPENROUTER_MODEL=openai/gpt-3.5-turbo
KHALTI_SECRET_KEY=your-khalti-sandbox-secret-key
KHALTI_PUBLIC_KEY=your-khalti-sandbox-public-key
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_WEBSITE_URL=http://localhost:3000
KHALTI_RETURN_URL=http://localhost:3000/dashboard/payments/khalti/return

SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
